.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff
}

.form-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; 
}

.input-wrapper {
    border-radius: 20px 0 0 20px;
    background-color: #fff;

    svg {
        margin-left: 1rem;
        color: #acacac;
    }
}

input {
    padding: 10px;
    border: none;
    outline: none;
}

.wrapper-error {
    border: 2px solid red;
    background-color: #ffe6e6;
  }

  .input-error {
    background-color: #ffe6e6;
  }

button {
    background-color: #ff9800;
    border: 0;
    padding: 10px 25px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

button.button-clicked, button:hover {
    background-color: #f57c00;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }